$form-width: 600px;

$screen-max-width: 1400px;

$product-item-width: 300px;

$radius: 3px;

// colors

$login-color: #2d3a4b;

$red: #f46c6c;

$purple: #cc46aa;

$blue: #419eff;

$main-black: #0f172a;
$black: black;
$secondary-black: #475569;

$white: #fff;
